@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  justify-content: start;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin box-style($bg: white) {
  background-color: $bg;
  padding: 1.2rem;
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.08);
}

@mixin badge($bg, $color: white) {
  display: inline-block;
  background-color: $bg;
  color: $color;
  font-size: 0.75rem;
  padding: 0.3rem 0.6rem;
  border-radius: 9999px;
}

@mixin popup-box($width: 300px) {
  position: absolute;
  width: $width;
  padding: 1rem;
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.08);
  z-index: 1000;
}

@mixin button($bg: $color-primary, $hover: $color-primary-hover) {
  background-color: $bg;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: $hover;
  }
}

@mixin outline-button($color) {
  border: 1px solid $color;
  color: $color;
  background-color: transparent;
  transition: all 0.2s;
}

@mixin input-basic($font-size: 0.95rem, $padding: 0.7rem 0.2rem) {
  width: 100%;
  margin-bottom: 0.4rem;
  padding: $padding;
  border: 0.09375rem solid var(--color-bg-gray-hover);
  border-radius: 0.625rem;
  background-color: var(--color-bg-lighter);
  font-size: $font-size;
  color: #111827;
  outline: none;
  box-shadow: inset 0 0.0625rem 0.125rem var(--color-shadow-light);
  transition: border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
}
