@use "mixins" as *;

.map__container {
  flex: 1;
  width: 100%;
  border-radius: 0.75rem;
  overflow: hidden;
  font-family: inherit;
}
.map__search-box {
  position: absolute;
  @include flex-center;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background: var(--color-bg-white);
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px var(--color-shadow-strong);
  width: 70%;
  max-width: 100rem;
  gap: 0.5rem;
  align-items: stretch;
}

.map__search-box-input,
.map__search-box-button {
  height: 2rem;
  font-size: 1rem;
  box-sizing: border-box;
}

.map__search-box-input {
  @include input-basic(0.95rem, 0.7rem 1rem);
  flex: 1;
  margin-bottom: 0;
}
.map__emoji-marker {
  display: flex;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.map__emoji-inner {
  width: 100%;
  height: 100%;
  font-size: 2em;
  @include flex-center;
  border-radius: 50%;
}

.map__emoji-marker--circle {
  border-radius: 50%;
  border: 2px solid var(--color-info);
  background-color: rgba(255, 255, 255, 0.8);
}
.map__emoji-marker--selected .map__emoji-inner {
  border: 2px solid var(--color-info);
  background-color: rgba(255, 255, 255, 0.8);
}

.leaflet-control.locate-button {
  @include outline-button(var(--color-border-muted));
  background: var(--color-bg-white);
  color: var(--color-text-default);
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 6px var(--color-shadow-mid);
  transition: background-color 0.2s ease;
  user-select: none;

  &:hover {
    background-color: var(--color-bg-gray-hover);
  }
}

.leaflet-top.leaflet-right .leaflet-control.locate-button {
  margin-right: 10px;
  margin-top: 10px;
}

.single-map {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 10px var(--color-shadow-mid);
}

@media (max-width: 48rem) {
  .single-map {
    height: 15.625rem;
  }

  .map__search-box {
    position: absolute;
    @include flex-center;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: var(--color-bg-white);
    padding: 0.3rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px var(--color-shadow-strong);
    width: 60%;
    max-width: 100rem;
    gap: 0.5em;
    align-items: stretch;
  }
  .map__search-box-input {
    @include input-basic(0.7rem, 0.3rem 0.3rem);
    flex: 1;
    margin-bottom: 0;
  }
  .map__search-box-button {
    font-size: 0.7rem;
  }
  .leaflet-control.locate-button {
    padding: 0.25rem 0.375rem;
    font-size: 0.9375rem;
  }
  .leaflet-top.leaflet-right .leaflet-control.locate-button {
    margin-right: 0.25rem;
  }
}
