@use "mixins";

.popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 65%;
  background-color: var(--color-bg-white);
  padding: 1.5rem;
  overflow-y: auto;
  box-shadow: 0 -4px 10px var(--color-shadow-top);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  z-index: 1000;
}
.popup strong {
  font-size: 16px;
}

.popup__close-button {
  all: unset;
  font-size: 20px;
  position: absolute;
  top: 8px;
  right: 10px;
  border: none;
  cursor: pointer;
  color: var(--color-icon-muted);
  z-index: 2000;
  padding: 0;
  transition: transform 0.2s ease;
}

@media (max-width: 48rem) {
  .popup {
    padding: 1rem;
    max-width: 100%;
    border-radius: 0.75rem;
    margin: 0 1rem;
  }
}
