.tag-container {
  display: inline-flex;
  align-items: center;
  padding: 0.3rem 0.6rem;
  margin: 0.4rem;
  background-color: var(--color-bg-gray);
  border-radius: 9999px;
  font-size: 0.75rem;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
}

.tag-container:hover {
  background-color: var(--color-bg-gray-hover);
  cursor: pointer;
}

.tag-emoji {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.tag-name {
  color: var(--color-text-default);
}

@media (max-width: 640px) {
  .tag-container {
    padding: 0.2rem 0.5rem;
    font-size: 0.6rem;
    margin: 0.2rem;
  }

  .tag-emoji {
    font-size: 1rem;
  }
}
.tag-container.selected {
  background-color: var(--color-selected);
  color: var(--color-text-default);
}

.taglist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
