@use "./css/global";

body {
  font-family: "Noto Sans KR", "Noto Sans JP", "Noto Sans", sans-serif;
}
input,
textarea,
select,
button,
span,
p {
  font-family: inherit;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "TossFace";
  src: url("/fonts/tossface.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("/fonts/NotoSansKR-Bold.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/NotoSansJP-Bold.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}
