@import "./css/global.css";
@import "./css/tag.css";
@import "./css/register.css";
@import "./css/header.css";
@import "./css/map.css";
@import "./css/decor.css";
@import "./css/mypage.css";
@import "./css/home.css";
@import "./css/feedback.css";
@import "./css/popup.css";

@import "react-toastify/dist/ReactToastify.css";

body {
  font-family: "CookieRun", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "TossFace";
  src: url("./fonts/tossface.ttf") format("truetype");
}

@font-face {
  font-family: "CookieRun";
  src: url("./fonts/cookie-regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "CookieRun";
  src: url("./fonts/cookie-bold.ttf") format("truetype");
  font-weight: bold;
}
